<html>
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
</head>
<body class="main-body">
  <h1 style="text-decoration: underline">Here is a list of the categories you can draft players from:</h1>
  <div class = "category-list">
  <p><a href="/category/touchdown">Touchdowns</a></p>
  <p><a href="/category/rushing">Rushing Yards</a></p>
  <p><a href="/category/scoring">Points Scored</a></p>
  <p><a href="/category/receiving">Receptions</a></p>
  <p><a href="/category/passyd">Passing Yards</a></p>
  <p><a href="/category/passtd">Passing Touchdowns</a></p>
  <p><a href="/category/interception">Interceptions</a></p>
  <p><a href="/category/sacks">Sacks</a></p>
  </div>
</body>
</html>
