<html>
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
</head>
<body>
    <div class="main-body">
    <% if logged_in? %>
    <h1>Create your Team!</h1>
    <form action="/category" method="post">
        <input type="text" name="team_name" placeholder="Enter your team name!">
        <input type="submit" value="Create Team" >
    </form>
    <% else %>
    <p>Your login info was invalid, please go back and try again</p>
    <% end %>
    </div>
</body>
</html>


