  <html>
    <body>
      <h1>Welcome to the Make your Own All Time Fantasy NFL Team!</h1>
      <h2>Please Enter your Login Info Below</h2>
          <form action="/create_team" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
          </form>
    </body>
  </html>





