  <html>
    <body>
      <h1>Welcome to the Make your Own All Time Fantasy NFL Team!</h1>
      <h2>Here is a list of the categories you can choose from</h2>
        <p><a href = "/category/touchdown">Touchdowns</a></p>
        <p><a href = "/category/rushing">Rushing Yards</a></p>
        <p><a href = "/category/scoring">Points Scored</a></p>
        <p><a href = "/category/receiving">Receiving Yards</a></p>
        <p><a href = "/category/passyd">Passing Yards</a></p>
        <p><a href = "/category/passtd">Passing Touchdowns</a></p>
        <p><a href = "/category/interception">Interceptions</a></p>
        <p><a href = "/category/sacks">Sacks</a></p>

    </body>
  </html>





