<!DOCTYPE html>
<html lang="en">
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class = "header">
    <% if session[:user_id]%>
    <ul>
      <li class="header-links"><a href="/" style="text-decoration: none">Go Home</a></li>
      <li class="header-links"><a href="/teams" style="text-decoration: none">View Your Teams</a></li>
      <li class="header-links"><a href="/category" style="text-decoration: none">Go to Categories</a></li>
      <li class="header-links"><a href="/create_team" style="text-decoration: none">Create a New Team</a></li>
      <li class="header-links"><span class="logout"><a href="/logout" style="text-decoration: none">Logout</a></span></li>
    </ul>
    <% else  %>
    <ul>
      <li class="header-links"><a href="/" style="text-decoration: none">Go Home</a></li>
    </ul>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
