<html>
<head>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/application.css">
</head>
<body class="player-list">
	<h2><%=@category.capitalize%> Record Holders</h2>
	<% @players.each do |player| %>
	<p><%= player.name %> (<%= player.send(@category) %>)<form action="/category/player" method="post">
		<input type="submit" name="player" value="Add to Team"/>
		<input type="hidden" name="player_id" value="<%=player.id%>"/>
	</form> </p>
	<% end %>
</body>
</html>
